.section2 {
  width: 112.5vw;
  height: 48.25vw;
  margin: 2.2vw;
}

.section2-text {
  font-size: 1.5vw;
}

.section2-swiper img {
  border-radius: 1vw;
  width: 15.625vw;
  height: 30.99vw;
  margin-top: 5.5vw;
}

.section2-swiper {
  width: 97vw;
}

.image-container {
  position: relative; 
}

.image-container img {
  display: block; 
  height: auto; 
}

.image-text {
  position: absolute; 
  top: 0; 
  margin: 2vw;
  font-size: 0.833vw; 
  color: white;
}

.image-text1 {
  position: absolute; 
  top: 0; 
  margin: 2vw;
  font-size: 0.833vw; 
}

.swiper-button-container {
  display: flex; 
  justify-content: end; 
  align-items: center; 
  margin: 2vw; 
}

.swiper-button-container img {
  width: 2vw; 
  height: 2vw; 
  margin: 0 0.4vw;
  cursor: pointer;
}
